@layer theme {
  :root {
    --white: white;
    --primary: #b88e2f;
    --secondary: #fff3e3;
    --font: #333333;

    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
  }

  .container {
    max-width: var(--breakpoint-lg);
    margin: 0 auto;
    padding: 0 1rem;
  }

  .button {
    display: block;
    padding: 1rem 2rem;
    color: var(--white);
    font-weight: bold;

    background-color: var(--primary);
  }

  .button_transparent {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
  }
}
