@layer theme {
  :root {
    --white: white;
    --primary: #b88e2f;
    --secondary: #fff3e3;
    --font: #333333;
  }

  .button {
    display: block;
    padding: 1rem 2rem;
    color: var(--white);
    font-weight: bold;

    background-color: var(--primary);
  }
}
